*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#contenedor{
    width: 100%;
    height: 100%;
    padding: 20px;
    background:rgb(228, 227, 227);
}
select{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sql{
    background: darkcyan;
    color: white;
    padding: 20px;
    font-family: monospace;
}
#seleccionacampos{
    columns: 3;
    
}
table{
    margin-top: 15px;
}
input[type="checkbox"]{
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
}
table th{
    background: goldenrod;
    color: black;
}
table tr:nth-child(odd){
    background: lightsalmon;
}
table tr:nth-child(even){
    background: lightcyan;
}
table tr td{
    padding: 10px;
}
.condicion{
    padding-top: 10px;
    padding-bottom: 10px;
}
#seleccionacondiciones{
    column-count: 3;
}
#seleccionlimite{
    margin-bottom: 10px;
}
input[type="text"],input[type="number"]{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
}
#formulario{
    width: 50%;
    height: 100%;
    padding: 0px;
    float: left;
    overflow-y: scroll;
}
#formulario div{
    padding: 20px;
}
#resultados{
    width: 50%;
    height: 100%;
    padding: 0px;
    float: right;
    overflow-y: scroll;
}